<head>
    <script src="https://kit.fontawesome.com/48e6684c73.js" crossorigin="anonymous"></script>
  </head>


Hello world!

<form action='/bookmarks' method='post'>
  <button class="btn" value='View bookmarks' name='View bookmarks'><i class="fas fa-bookmark"></i> View bookmarks</button>
</form>
